.header {
  padding: 12px;
  height: var(--page-header-height);
  background-color: var(--color-primary);

  &__wrapper {
    max-width: var(--page-full-width);
    padding: 0 16px;
    margin: 0 auto;
  }

  &__back {
    width: 50px;
    margin: 0 20px;
  }

  &__drawer {
    top: var(--page-header-height);
    max-width: 300px;
    width: 30%;
    background-color: var(--color-primary);
  }
}

.profile {
  height: 58px;

  &__name {
    padding-left: 20px;
  }
}
