.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../asetss/images/login-background.png');

    &__form {
        width: 400px;
        height: auto;
        padding: 40px;
    }
}