.table {
  &_rounded {
    th {
      &:first-child {
        border-top-left-radius: 12px;
      }
      &:last-child {
        border-top-right-radius: 12px;
      }
    }
  }

  &__name {
    width: 200px
  }

  &__id {
    text-align: center;
    width: 50px
  }

  &__head {
    &_primary {
      th {
        color: white;
        background-color: #30504F;
      }
    }
  }

  &__row {
    &_hovering:hover {
      cursor: pointer;
      background-color: var(--color-hoverGrey);
    }
  }

  &__cell {
    padding: 10px 20px;

    &_icon {
      width: 48px;
    }

    &_right-offset {
      padding-right: 40px;
    }

    &_left-offset {
      padding-left: 40px;
    }

    &_align-right {
      text-align: right;
    }

    &_dense {
      padding: 0;
    }
  }
}

.table-checklist {
  &__col {
    &_name {
      width: 330px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}