.tasks{
  &__icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;

    &_error {
      background-color: var(--color-error);
    }

    &_warning {
      background-color: var(--color-warning);
    }

    &_date {
      background-color: var(--color-success);
    }

    &_study {
      background-color: var(--color-info);
    }
  }
}
