.button {
  text-transform: unset;

  &_full {
    width: 100%;
    height: 100%;
  }

  &_white {
    color: white;
  }

  &_vertical > span{
    writing-mode: tb-rl;
  }

  &_hover:hover {
    transition: var(--transition);
    color: var(--color-hover-active);
  }
}