.checklist {
  &__drawer {
    padding: 20px;
    border-right: 4px solid var(--color-orange);
    background-color: var(--color-lightGrey)
  }

  &__header {
    padding: 20px;
  }
}

.checklist-description {
  padding: 32px;
}
