.file-load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  border: 1px solid var(--color-lightGrey);
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  &__image {
    font-size: 48px;
    color: var(--color-lightGrey);
  }

  &__label {
    font-size: 12px;
    color: var(--color-lightGrey);
  }
}