.input-container {
  width: 100%;
  position: relative;

  &__icon {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 10px;
  }
}

.input {
  border-radius: 4px;

  &_bg-white {
    background-color: white;
  }

  &_icon-start {
    padding-left: 40px;
  }
}

.input-message {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;

  &_error {
    color: var(--color-error)
  }
}
