body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #E5E5E5;
	font-family: 'Roboto', sans-serif;
}
* {
	box-sizing: border-box;
}
#root {
	height: 100%;
}

.vertical {
	transform: rotate(90deg);
}

.table {
	&__name {
		width: 200px
	}

	&__id {
		text-align: center;
		width: 50px
	}
}

.title {
	font-size: 24px;
	font-weight: 500;
}
