:root {
  --color-hover-active: #F29545;
  --color-primary: #009688;
  --color-text-primary: #424242;
  --color-darkGreen: #335251;
  --color-orange: #F29545;
  --color-lightGrey: #A3B4BE;
  --transition: 0.2s;
  --page-width: 1024px;
}
