.text {
  &_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_bold {
    font-weight: bold;
  }

  &_lowercase {
    text-transform: lowercase;
  }

  &_white {
    color: white;
  }

  &_nowrap {
    white-space: nowrap;
  }

  &_vertical {
    writing-mode: tb-rl;
  }
}

.area-border {
    position: relative;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid var(--color-lightGrey);

   &__label {
     display: table;
     padding: 0 20px;
     margin-top: -28px;
     width: auto;
     font-size: 14px;
     background: #E5E5E5;
   }
}

.border {
  border-color: black;
  border-style: solid;
  border-width: 0;

  &_white {
    border-color: white;
  }

  &_bottom {
    border-bottom-width: 1px;
  }

  &_right {
    border-right-width: 1px;
  }
}
