.text {
  &_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_big {
    font-size: 18px;
  }

  &_bold {
    font-weight: bold;
  }

  &_lowercase {
    text-transform: lowercase;
  }

  &_white {
    color: white;
  }

  &_nowrap {
    white-space: nowrap;
  }

  &_vertical {
    writing-mode: tb-rl;
  }
}