:root {
  --color-hover-active: #F29545;
  --color-primary: #009688;
  --color-text-primary: #424242;
  --color-darkGreen: #335251;
  --color-orange: #F29545;
  --color-lightGrey: #A3B4BE;
  --color-hoverGrey: #d9d9d9;
  --color-success: #27927D;
  --color-error: #BF2120;
  --color-warning: #F29545;
  --color-info: #A3B4BE;
  --transition: 0.2s;
  --page-width: 1024px;
}
